{% extends "base.html" %}
{% block "body" %}
  <div>
    <div class="col-md-12" style="text-align: center;">
	    <div class="pull-right">
	      {% if not favorite %}
	      <td>
	        <a class="btn btn-default" href="/set_favorite/{{code}}/">
	          <span class="glyphicon glyphicon-star-empty"></span>
	        </a>
	      </td>
	      {% else %}
	      <td>
	      	<div class="btn-group">
		        <a class="btn btn-warning" href="/unset_favorite/{{code}}/">
		          <span class="glyphicon glyphicon-star"></span>
		        </a>
	            <button class="btn btn-default" data-song="{{code}}"
	                data-toggle="modal" data-target="#playlist">
	              <span class="glyphicon glyphicon-list"></span>
	            </button>
	      	</div>
	      </td>
	      {% endif %}
	    </div>
	    <div class="col-md-12">
	    	<img src="{{chord}}" class="img-rounded img-responsive center-block"></div>
	    </div>
    </div>
  </div>
{% endblock %}