{% extends "base.html" %}
{% block "body" %}
  <div>
    <div class="col-md-12" style="text-align: center;">
	    <div class="pull-right">
	      	<div class="btn-group">
		      {% if not favorite %}
			    <button class="btn btn-default" data-song="{{code}}" data-fav="false">
	              <span class="glyphicon glyphicon-star-empty"></span>
	            </button>  
		      {% else %}
	            <button class="btn btn-warning" data-song="{{code}}" data-fav="true">
	              <span class="glyphicon glyphicon-star"></span>
	            </button>
		      {% endif %}
	          <button class="btn btn-default" data-song="{{code}}"
	              data-toggle="modal" data-target="#playlist">
	            <span class="glyphicon glyphicon-list"></span>
	          </button>
	      	</div>
	    </div>
	    <div class="col-md-12">
	    	<img src="{{chord}}" class="img-rounded img-responsive center-block"></div>
	    </div>
    </div>
  </div>
{% endblock %}