{% extends "base.html" %}
{% block "body" %}
  <div class="page-header">
    <h1>Playlists</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Songs</th>
        <th>
          {% if user %}
          <span class="glyphicon glyphicon-trash"></span>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for playlist in playlists %}
      <tr>
        <td width="60px">{{ forloop.counter }}</td>
        <td><a href="/view_playlist/{{playlist.id}}/">{{ playlist.name }}</a></td>
        <td width="60px">{{ playlist.items__count }}</td>
        <td width="60px">
          <a class="btn btn-xs btn-default" href="/del-playlist/{{playlist.id}}/">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
