<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>View</th>
      {% if user %}
      <th>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-list"></span>
      </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="/view_chord/{{song.code}}/">{{ song.description }}</a></td>
      <td width="40px">{{ song.view }}</td>
      {% if user %}
      <td width="70px">
        <div class="btn-group">
          {% if not song.favorite %}
            <button class="btn btn-xs btn-default" data-song="{{song.code}}" data-fav="false">
              <span class="glyphicon glyphicon-star-empty"></span>
            </button>
          {% else %}
            <button class="btn btn-xs btn-warning" data-song="{{song.code}}" data-fav="true">
              <span class="glyphicon glyphicon-star"></span>
            </button>
          {% endif %}
            <button class="btn btn-xs btn-default" data-song="{{song.code}}"
                data-toggle="modal" data-target="#playlist">
              <span class="glyphicon glyphicon-list"></span>
            </button>
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
